{{ partial "copyright.html" . }}
</div>
</div>
<script type="text/javascript">
// Menu
// function toggle_menu() {
//     var nav = document.querySelector('#nav');
//     var nav_link = document.querySelector('#nav-link');
//     nav.classList.toggle('active');
//     nav_link.classList.toggle('active');
// };
// TOC
window.onload = function() {
    var toc = document.querySelector('#toc');
    var toc_toggle_link = document.querySelector('#toc_toggle_link');
    var nav = document.querySelector('#nav');
    var nav_link = document.querySelector('#nav-link');
    var mq = window.matchMedia( "(min-width: 40em)" );
    // Navigation
    nav_link.onclick = function(e) {
        e.stopPropagation();
        nav.classList.toggle('active');
        nav_link.classList.toggle('active');
        if (toc && toc.classList.contains('active')) {
                    toc.classList.toggle('active');
            }
    }
    // TOC
    if (!(toc === null)) {
        var toc_links = toc.getElementsByTagName('a');
        toc_toggle_link.onclick = function(e) {
            e.stopPropagation();
            toc.classList.toggle('active');
            if (!mq.matches) {
                nav.classList.toggle('active');
                nav_link.classList.toggle('active');    
            }
        }
        toc.onclick = function(e) {
            e.stopPropagation();
            toc.classList.toggle('active');
        }
        // If click outside of target and it is active, make it inactive
        document.onclick = function(e) {
            if (e.target.id != 'toc' && e.target.id != 'toc_toggle_link') {
                if (toc.classList.contains('active')) {
                    toc.classList.toggle('active');
                }
            }
            if (e.target.id != 'nav' && e.target.id != 'nav-link') {
                if (nav.classList.contains('active')) {
                    nav.classList.toggle('active');
                    nav_link.classList.toggle('active');
                }
            }
        }
    }
};
</script>
{{ partial "google_analytics.html" . }}
<script id="dsq-count-scr" src="//yujishen.disqus.com/count.js" async></script>
</body>

</html>
